<% include ../partials/header %>

<main class='site'>
  <section class='section-new--success' id='section-admin'>
    <div id='admin-welcome' class="container col-md-5 col-lg-5 text-center">
      <div class='admin-welcome--brand'>
        <img src="/img/dish(1).png" width='60' height='60'>
        <a href="/" class="navbar-brand--text" id='welcome-brand'>
          yourTable
        </a>  
      </div>
      <h1 class='success1'>Create an account or login
      <hr class='myHr'>
  
      <a href="/admin/register" class="btn btn--new" id='adminLeft'>Register</a>
      <a href="/admin/login" class="btn btn--new" id='adminRight'>Login</a>
    </div>
  </section>
</main>



<% include ../partials/footer %>
