<% include ../partials/header %>

<main class='site'>
  <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-sm-4" id='live-time'>

            <a id="waitTime" href="#" class="nav-link"
              >CURRENT WAIT TIME: 0 mins</a
            >
            <script id="waitTime-msg" type="text/html">
              <a id='waitTime' href="#" class="nav-link">CURRENT WAIT TIME: {{time}} mins</a>
            </script>

        </div>

      </div>
    </div>

<section class='section-landing'>
    <div class='caption text-center'>
        <h1 class='h1'>Welcome to Binh Duong restaurant</h1>
        <h3 class='h3'>Authentic Vietnames cuisine</h3>
        <a class='btn btn--animated' href='/users/new'>Check-in &rarr;</a>
    </div>    

</section>

</main>

<script type='text/javaScript' src='/js/waitTime-landing.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
<script type='text/javaScript' src='/js/native.js'></script>

<% include ../partials/footer %>

