<% include ../partials/header %>

<section class='section-landing'>
    <div class='caption text-center'>
        <h1>Welcome to Binh Duong restaurant</h1>
        <h3>Authentic Vietnames cuisine</h3>
        <a class='btn btn--animated' href='/users/new'>Check-in &rarr;</a>
    </div>    
</section>

<script type='text/javaScript' src='/js/waitTime-landing.js'></script>
<% include ../partials/footer %>
