<section class='footer'>
  <div class="container col-md-5 col-lg-5 text-center" id='footer'>

    <hr class='myHr'>
    <p class='footer-text'>
      Icons made by <a class='footer-text__atr' href="https://www.flaticon.com/authors/pause08" title="Pause08">Pause08</a> from <a class='footer-text__atr' href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      <br>
      &copy; Built by Dinh Vu.
    </p>
    <div></div>
  </div>
</section>


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src='/js/animatedButton.js'></script>
        <!-- <script src="/js/native.js"></script> -->
        <script src='/socket.io/socket.io.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>