<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>yourTable | Reserve your table</title>
    
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link rel="icon" href="/img/dish(1).png" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel='manifest' href='/manifest.json' />

    <!-- //for progressive -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="yourTable">
    <link rel="apple-touch-icon" href="/img/img/dish32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/img/img/dish128x128.png" sizes="128x128">
    <link rel="apple-touch-icon" href="/img/img/dish(1).png" sizes="512x512">
    <meta name="msapplication-TileImage" content="/img/dish128x128.png">
    <meta name="msapplication-TileColor" content="#f7f7f7">
    <meta name="theme-color" content="#55c57a">
    
  </head>

  <body data-target="#navbarResponsive" onload="mySpinner()">

    <div class="navbar1">
      <nav class="navbar navbar-expand-md navbar bg fixed-top">
        <div class="navbar-brand">
          <img src="/img/dish.svg" height="47" width="47" alt="icon" />
          <a href="/" class="navbar-brand--text">
            yourTable
          </a>
        </div>

        <button
          class="navbar-toggler second-button"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          id='collapseButton'
        >

        <!-- collapse button -->
          <div class="animated-icon2">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <div class="nav-item">
              <li class="nav-item--left">
                <a href="/users" class="nav-link--active">WAITING LIST</a>
              </li>

              <li class="nav-item--right">
                <a href="/admin" class="nav-link--active">ADMIN</a>
              </li>
            </div>
          </ul>
        </div>
      </nav>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
    
    <!-- <script>
      let butt = document.querySelector('#collapseButton');
      butt.addEventListener('click', () => {
          console.log('but clicked');
          const promptEvent = window.deferredPrompt;
          if(!promptEvent){
              return;
          }
    
          promptEvent.prompt();
          promptEvent.userChoice.then((result) => {
              console.log(result);
              window.deferredPrompt = null;
          })
      })
    </script> -->
  </body>
</html>



