#section-admin {
    margin-top: -1rem;
}

#welcome-brand{
    font-size: 2rem;
}

.admin-welcome--brand{
    margin-bottom: 2rem;
}

#adminLeft{
    float: left;
    margin-left: 19rem;
}

#adminRight{
    float: right;
    margin-right: 21rem;
}