#section-admin {
    margin-top: 23rem;
}

#welcome-brand{
    font-size: 2rem;
}

.admin-welcome--brand{
    margin-bottom: 2rem;
}

#adminLeft{
    float: left;
    margin-left: 11vw;
}

#adminRight{
    float: right;
    margin-right: 11vw;
}