.navbar{
  margin-top: 1rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.1rem;

  &-brand {
    font-size: 2rem;
    margin-left: 1.5rem;
  
    &--text {
      color: $color-primary;
    }
  
    &--text:hover {
      text-decoration: none;
  
      color: $color-primary;
      border-bottom: 1px solid $color-primary;
      padding: 1px;
    }
  }
}

.nav-link {
  color: $color-primary;
  pointer-events: none;

  &--active:link,
  &--active:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    padding: 3px;
    transition: all 0.2s;
  }

  &--active:hover {
    background-color: $color-primary;
    color: $color-white;
  }

  &--active:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }
}

.nav-item {
  display: flex;
  margin-right: auto;

  &--left {
    margin-right: 3rem;
  }

  &--right {
    margin-right: 2rem;
  }

  @media only screen and (max-width: $bp-medium) {
    display: inline-flex;
    z-index: 1;
  }
}

#live-time {
  margin-top: 10rem;
  margin-left: 13vw;
  font-size: 1.8rem;

  @media only screen and (max-width: $bp-medium){
    margin-top: 12rem;
  }
}

#collapseButton {
  background-color: $color-primary;
}

// collapse button
.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  // border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#collapseButton {
  height: 4.3rem;
}
.animated-icon2 span {
  background: #e3f2fd;
}
// collapse button

// animated button
.animated-icon2 span:nth-child(1) {
  top: -1px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 9px;
}

.animated-icon2 span:nth-child(4) {
  top: 19px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

//section
.section-landing {
  width: 100%;
  height: 100%;
  padding: 12rem 0;
  position: relative;
}

.caption {
  position: absolute;
  width: 100%;
  max-width: 100%;
  top: 58%;
  z-index: 1;
  color: $color-grey-dark;
}

.h1{
  font-size: 4.2rem;
  animation: moveInLeft 1s ease-out;
  margin-bottom: 1rem;

  @media only screen and (max-width: $bp-medium){
    font-size: 3.5rem;
  }
}

.h3{
  font-size: 3rem;
  animation: moveInRight 1s ease-out;

  @media only screen and (max-width: $bp-medium){
    font-size: 2.7rem;
  }
}

.btn {
  &:link,
  &:visited {
    font-size: 2.5rem;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.7rem;
    }
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-2px);
  }
  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.7s;
    animation-fill-mode: backwards;
  }

  &--new {
    font-size: 2.5rem;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;

    @media only screen and (max-width: $bp-medium) {
      font-size: 1.7rem;
    }
  }
}
