.section-waiting {
    padding: 13rem 0;
    // margin-top: -20vh; 
    height: 100%;
    width: 100%;
    position: relative;
}

.wait{

    &__ul{
        list-style: none;
        font-size: 2rem;

        position: relative;

        padding: 3rem 4rem;
        text-align: center;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all .3s;
        outline: none;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);
        border-bottom: 3px solid $color-primary;
        margin-bottom: 4.5rem;
    }

    &__list{
        font-size: 2rem;
        font-family: inherit;
        color: inherit;
        float: left;
        margin-left: 2rem;
    }

    &__btn1{
        position: absolute;
        top: 15%;
        right: 10%;
        // flex: 2 100%;
    }

    &__btn2{
        position: absolute;
        top: 50%;
        right: 10%;
    }
}

.btn{
    
    &--waitPage{
        font-size: 2.5rem;  
        color: $color-primary;
        display: flex;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all .2s;
    }
}