*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #999;
  font-weight: 300;
  line-height: 1.6;
  background-color: #f7f7f7; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.navbar1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6) !important; }

.navbar-brand {
  font-size: 2rem;
  margin-left: 1.5rem;
  margin-top: 2rem; }
  .navbar-brand--text {
    color: #55c57a; }
  .navbar-brand--text:hover {
    text-decoration: none;
    color: #55c57a;
    border-bottom: 1px solid #55c57a;
    padding: 1px; }

.nav-link {
  color: #55c57a;
  pointer-events: none; }
  .nav-link--active:link, .nav-link--active:visited {
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    padding: 3px;
    transition: all 0.2s; }
  .nav-link--active:hover {
    background-color: #55c57a;
    color: #fff; }
  .nav-link--active:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0); }

.nav-item {
  display: flex;
  margin-right: auto; }
  .nav-item--left {
    margin-right: 3rem; }
  .nav-item--right {
    margin-right: 2rem; }
  @media only screen and (max-width: 50em) {
    .nav-item {
      display: block; } }

.live-time {
  margin-top: auto; }

#collapseButton {
  background-color: #55c57a; }

.section-landing {
  width: 100%;
  height: 100%;
  padding: 25rem 0;
  position: relative; }

.caption {
  position: absolute;
  width: 100%;
  max-width: 100%;
  top: 58%;
  z-index: 1;
  color: #777; }

h1 {
  font-size: 4.2rem;
  margin-bottom: 1rem;
  animation: moveInLeft 1s ease-out; }

h3 {
  font-size: 3rem;
  animation: moveInRight 1s ease-out; }

.btn:link, .btn:visited {
  font-size: 2.5rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.7s;
  animation-fill-mode: backwards; }

.btn--new {
  font-size: 2.5rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

@media (min-width: 768px) {
  .abs-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); } }

.section-new {
  padding: 13rem 0;
  height: 100%;
  width: 100%;
  position: relative; }

.heading-secondary {
  margin-bottom: 3rem;
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }

.form {
  position: absolute;
  width: 100%;
  margin: auto auto;
  z-index: 1; }
  .form__group:not(:last-child) {
    margin-bottom: 2rem; }
  .form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all .3s; }
    .form__input:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

#check_status {
  margin-top: 8rem;
  color: white;
  font-weight: 55;
  font-size: 1.2rem; }

.section-waiting {
  padding: 13rem 0;
  height: 100%;
  width: 100%;
  position: relative; }

.wait__ul {
  list-style: none;
  font-size: 2rem;
  position: relative;
  padding: 3rem 4rem;
  text-align: center;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s;
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
  margin-bottom: 4.5rem; }

.wait__list {
  font-size: 2rem;
  font-family: inherit;
  color: inherit;
  float: left;
  margin-left: 2rem; }

.wait__btn1 {
  position: absolute;
  top: 15%;
  right: 10%; }

.wait__btn2 {
  position: absolute;
  top: 50%;
  right: 10%; }

.btn--waitPage {
  font-size: 2.5rem;
  color: #55c57a;
  display: flex;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

#signin {
  margin-top: 8rem;
  color: white;
  font-weight: 55;
  font-size: 1.2rem; }

#register {
  margin-top: 8rem;
  color: white;
  font-weight: 55;
  font-size: 1.2rem; }

#admin-welcome {
  margin-top: 13rem;
  color: white;
  font-weight: 55;
  font-size: 1.2rem; }
