*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
  background-color: #f7f7f7; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.navbar1 {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6) !important; }

.section-landing {
  padding: 25rem 0;
  margin-top: -20vh; }

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: #777; }

h1 {
  font-size: 4.2rem;
  margin-bottom: 1rem;
  animation: moveInLeft 1s ease-out; }

h3 {
  font-size: 3rem;
  animation: moveInRight 1s ease-out; }

.btn:link, .btn:visited {
  font-size: 2.5rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s; }

.btn:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.btn--animated {
  animation: moveInBottom .5s ease-out .7s;
  animation-fill-mode: backwards; }

@media (min-width: 768px) {
  .abs-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%); } }

#form {
  margin-top: 8rem;
  color: white;
  font-weight: 55;
  font-size: 1.2rem; }

#check_status {
  margin-top: 8rem;
  color: white;
  font-weight: 55;
  font-size: 1.2rem; }

.waiting {
  margin-top: 8rem;
  color: black;
  font-weight: 55;
  font-size: 1.2rem; }

#signin {
  margin-top: 8rem;
  color: white;
  font-weight: 55;
  font-size: 1.2rem; }

#register {
  margin-top: 8rem;
  color: white;
  font-weight: 55;
  font-size: 1.2rem; }

#admin-welcome {
  margin-top: 13rem;
  color: white;
  font-weight: 55;
  font-size: 1.2rem; }
